.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 40rem;
    width: 40rem;
    

    grid-template-areas:
      ". . a1 a1 a1 . a2 a2 a2 . ."
      ". a3 a3 a3 a3 a3 a3 a3 a3 a3 ."
      "a4 a4 a4 a4 a4 a4 a4 a4 a4 a4 a4"
      "a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5"
      ". a6 a6 a6 a6 a6 a6 a6 a6 a6 ."
      ". . a7 a7 a7 a7 a7 a7 a7 . ."
      ". . . a8 a8 a8 a8 a8 . . ."
      ". . . . a9 a9 a9 . . . ."
      ". . . . . a10 . . . . .";
  }
  
  .a1 { grid-area: a1; }
  
  .a2 { grid-area: a2; }
  
  .a3 { grid-area: a3; }
  
  .a4 { grid-area: a4; }
  
  .a5 { grid-area: a5; }
  
  .a6 { grid-area: a6; }
  
  .a7 { grid-area: a7; }
  
  .a8 { grid-area: a8; }
  
  .a9 { grid-area: a9; }
  
  .a10 { grid-area: a10; }

  body{
    min-height: 100%;
    min-width: 100%;
  }
  #box{
    background-color: red;
  }